In [1]:
def sum(a, b):
    return a + b

In [2]:
sum(3, 4)

7

In [4]:
def subtract(a, b):
    return a - b

In [5]:
subtract(3, 4)

-1

In [6]:
a = 10
b = 5

subtract(a, b)

5

In [7]:
def complex(a, b):
    c = a + b
    d = c ** 2
    return d

In [8]:
complex(1, 2)

9

In [9]:
complex(2, 2)

16

In [10]:
e = complex(10, 10)
print(e)

400

In [11]:
def a_b():
    return "python"

a_b()

'python'

In [13]:
f = a_b()
print(f)

python

In [23]:
def a_c(x, y):
    print("결과는 %s입니다." % (x*y))

In [24]:
a_c(2, 4)

결과는 8입니다.

In [25]:
g = a_c(9, 11)

결과는 99입니다.

In [27]:
h = a_c(4, 8)
print(h)

결과는 32입니다.
None

In [28]:
def a_d():
    print('python')

In [29]:
a_d()

python

In [4]:
def sum_1(x, y):
    return (2*x + y)

sum_1(x = 4, y = 1)

9

In [5]:
sum_1(x = 5, y = 10)

20

In [6]:
def multi(*vals):
    ab = 0
    for k in vals:
        ab += k
    return ab

In [7]:
multi(10, 20, 30, 40, 50)

150

In [8]:
multi(1, 2, 3, 4, 5)

15

In [9]:
mul_var = multi(7,8,9)
print(mul_var)

24

In [13]:
def abc(*arg):
    return max(arg)
abc(41, 34, 11)

41

In [14]:
def fgi(*arg):
    return min(arg)
fgi(41, 34, 11)

11

In [15]:
def sum_minus(calculation, *vals):
    if calculation == 'sum':
        rs = 0
        for i in vals:
            rs += i
            
    elif calculation == 'max':
        rs = max(vals)
        
    elif calculation == 'min':
        rs = min(vals)
        
    return rs

In [16]:
sum_minus('sum', 3,4,5,)

12

In [17]:
sum_minus('max', 3,4,5,)

5

In [18]:
sum_minus('min', 3,4,5,)

3

In [19]:
def fun2(**mulvals):
    print(mulvals)

In [20]:
fun2(a= 5)

{'a': 5}

In [22]:
fun2(name = 'python', version = 3.6)

{'name': 'python', 'version': 3.6}

In [25]:
def fun3(*vals, **mulvals):
    print(vals)
    print(mulvals)

In [27]:
fun3(10, 20, 30, name = 'python', version = 3.6)

(10, 20, 30)
{'name': 'python', 'version': 3.6}

In [9]:
def student(name, number, man = True):
    print("학생의 이름은 %s 입니다." % name)
    print("번호는 %s번 입니다." % number)
    if man:
        print("남학생입니다.")
    else:
        print("여학생입니다.")

In [10]:
student("kane", 13)

학생의 이름은 kane 입니다.
번호는 13번 입니다.
남학생입니다.

In [11]:
student("alice", 5, False)

학생의 이름은 alice 입니다.
번호는 5번 입니다.
여학생입니다.

In [12]:
student("Mike", 9, True)

학생의 이름은 Mike 입니다.
번호는 9번 입니다.
남학생입니다.

In [17]:
k = 5
def cal(k):
    k = k + 3
    
cal(k)
print(k)

5

In [21]:
jh = 3

def cul(jh):
    jh = jh + 1
    
cul(4)

In [22]:
print(jh)

3

In [23]:
w = 3
def tet(w):
    w = w * 2
    return w

print(w)
w = tet(w)
print(w)

3
6

In [25]:
q = 3
def tat(w):
    global q
    q = q * 2


tat(q)
print(q)

6