#### lambda(익명함수)

In [1]:
def sum(a, b):
    return a, b

sum(5, 6)

(5, 6)

In [3]:
(lambda a, b : a + b)(5, 6)

11

In [5]:
def multiple(a, b):
    return a * b

multiple(3, 4)

12

In [6]:
(lambda a, b : a * b)(3, 4)

12

In [11]:
lam_list = [lambda a, b : a + b, lambda a, b :a * b]

In [12]:
lam_list[0](5, 6)

11

In [13]:
lam_list[1](3, 4)

12

In [16]:
k = 11

In [20]:
(lambda k : k if k > 8 else 0)(k)

11

In [21]:
lam_if = lambda k : k if k < 8 else 0

In [22]:
lam_if(11)

0

####  
#### Map

In [27]:
# 리스트 받아서 제곱으로

def square(list):
    k = []
    for i in list:
        j = i ** 2
        k.append(j)
    return k

In [28]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

square(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
def squares(num):
    return num ** 2

list(
     map(
         squares, li
      ))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
list(map(lambda x : x **2, li))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### map(함수, 리스트)

####   
#### Filter

In [31]:
# 리스트 받아서 양수만

def positive_num(list):
    k = []
    for i in list:
        if i > 0:
            k.append(i)
    return k

In [32]:
la = [1, -2, -3, 4, 5, -6, 7, -8, -9, 10]

positive_num(la)

[1, 4, 5, 7, 10]

In [37]:
def posit_num(num):
    if num > 0:
        return num

In [38]:
list(
     filter(
            posit_num, la
      ))

[1, 4, 5, 7, 10]

In [39]:
list(filter(lambda x : x > 0, la))

[1, 4, 5, 7, 10]

#### filter(함수, 리스트)

####   
#### reduce

In [44]:
from functools import reduce

In [49]:
# 리스트 받아서 가장 큰 수

def own_max(list):
    k = list[0]
    for i in list:
        if k < i :
            k = i
    return k

In [55]:
lk = [-1, 5, -5, 4, -6, 3, 2 ]

own_max(lk)

5

In [56]:
def bigger(a, b):
    return a if a > b else b

In [59]:
reduce(
       bigger, lk
       )

5

In [60]:
# 리스트 숫자 모든 곱

def all_mul(list):
    k = 1
    for i in list:
        k = k * i
    return k

In [61]:
lb = [1, 2, 3, 4, 5]

all_mul(lb)

120

In [62]:
def mul(a, b):
    return a * b

In [63]:
reduce(
       mul, lb
       )

120

In [66]:
# 리스트 숫자 모든 곱

rel = [3, 4, 5, 6, 1, 2]

reduce(lambda a, b : a * b, rel)

720

In [67]:
# 리스트에서 가장 큰 수

rel = [-6, 5, 4, -3, 2, 7, -8, 6, 0]

reduce(lambda a, b : a if a > b else b, rel)

7

In [37]:
def mul(a, b):
    print((a, b))
    return a * b

reduce(mul,
       [1, 3, 5, 7, 9],
        0)              # 기본값

(0, 1)
(0, 3)
(0, 5)
(0, 7)
(0, 9)

0

In [38]:
def mul(a, b):
    print((a, b))
    return a * b

reduce(mul,
       [1, 3, 5, 7, 9],
        1)              # 기본값

(1, 1)
(1, 3)
(3, 5)
(15, 7)
(105, 9)

945

#### reduce(함수, 리스트, 기본값)

##  
##   
#### question

In [41]:
# 아래 리스트를  reduce 함수를 사용하여 

DAtools = ["R", "Python", "Python", "R", "Hadoop", "Python", "SQL", "R", "Python", "SQL", "R", "Python", "SQL"]

In [27]:
# 딕셔너리 형태로 만들기

DAdict

{'R': 4, 'Python': 5, 'Hadoop': 1, 'SQL': 2}

#   
#   
#   
#   
#   
#  
#   
#

In [36]:
def make_dict(DAdict, tool):
    if DAdict.get(tool):
        DAdict[tool] += 1
    else:
        DAdict[tool] = 1
        
    print(tool, "\t ", DAdict)
        
    return DAdict

DAdict = {}
print("초기값 : ", DAdict)
reduce(make_dict, DAtools, DAdict)

초기값 :  {}
R 	  {'R': 1}
Python 	  {'R': 1, 'Python': 1}
Python 	  {'R': 1, 'Python': 2}
R 	  {'R': 2, 'Python': 2}
Hadoop 	  {'R': 2, 'Python': 2, 'Hadoop': 1}
Python 	  {'R': 2, 'Python': 3, 'Hadoop': 1}
SQL 	  {'R': 2, 'Python': 3, 'Hadoop': 1, 'SQL': 1}
R 	  {'R': 3, 'Python': 3, 'Hadoop': 1, 'SQL': 1}
Python 	  {'R': 3, 'Python': 4, 'Hadoop': 1, 'SQL': 1}
SQL 	  {'R': 3, 'Python': 4, 'Hadoop': 1, 'SQL': 2}
R 	  {'R': 4, 'Python': 4, 'Hadoop': 1, 'SQL': 2}
Python 	  {'R': 4, 'Python': 5, 'Hadoop': 1, 'SQL': 2}

{'R': 4, 'Python': 5, 'Hadoop': 1, 'SQL': 2}

In [40]:
% who   # 변수 확인

Interactive namespace is empty.

In [39]:
% reset  # 모든 변수 초기화

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [45]:
def make_dict(DAdict, tool):
    if DAdict.get(tool):
        DAdict[tool] += 1
    else:
        DAdict[tool] = 1
        
    return DAdict

reduce(make_dict, DAtools, {})

{'R': 4, 'Python': 5, 'Hadoop': 1, 'SQL': 3}