#### re(regular expression)

In [1]:
import re

#### 문자와 숫자 찾기

In [2]:
txt = 'My membership ID is [KJ-1324B324]'
txt

'My membership ID is [KJ-1324B324]'

#### 알파벳 찾기

In [3]:
re.findall('c', txt)

[]

In [4]:
re.findall('p', txt)

['p']

In [5]:
re.findall('e', txt)

['e', 'e']

In [6]:
re.findall('M', txt)

['M']

In [7]:
re.findall('L', txt)

[]

#### 알파벳 찾기2

In [9]:
re.findall('[a-z]', txt)

['y', 'm', 'e', 'm', 'b', 'e', 'r', 's', 'h', 'i', 'p', 'i', 's']

In [11]:
re.findall('[a-z]+', txt)

['y', 'membership', 'is']

In [12]:
re.findall('[A-Z]', txt)

['M', 'I', 'D', 'K', 'J', 'B']

In [13]:
re.findall('[A-Z]+', txt)

['M', 'ID', 'KJ', 'B']

#### 숫자찾기

In [15]:
re.findall('3', txt)

['3', '3']

In [16]:
re.findall('[0-9]', txt)

['1', '3', '2', '4', '3', '2', '4']

In [17]:
re.findall('[0-9]+', txt)

['1324', '324']

#### 영문 + 숫자 찾기

In [18]:
re.findall('[a-zA-Z0-9]', txt)

['M',
 'y',
 'm',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 'h',
 'i',
 'p',
 'I',
 'D',
 'i',
 's',
 'K',
 'J',
 '1',
 '3',
 '2',
 '4',
 'B',
 '3',
 '2',
 '4']

In [19]:
re.findall('[a-zA-Z0-9]+', txt)

['My', 'membership', 'ID', 'is', 'KJ', '1324B324']

#### 영문과 숫자 아닌 문자 찾기

In [20]:
re.findall('[^a-zA-Z0-9]', txt)

[' ', ' ', ' ', ' ', '[', '-', ']']

#### 영문자 및 특수기호 찾기

In [22]:
re.findall('[\w]', txt)

['M',
 'y',
 'm',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 'h',
 'i',
 'p',
 'I',
 'D',
 'i',
 's',
 'K',
 'J',
 '1',
 '3',
 '2',
 '4',
 'B',
 '3',
 '2',
 '4']

In [23]:
re.findall('[\w]+', txt)

['My', 'membership', 'ID', 'is', 'KJ', '1324B324']

#### 영문자 + 특수기호 아닌 문자 찾기

In [25]:
re.findall('[\W]', txt)

[' ', ' ', ' ', ' ', '[', '-', ']']

#### 특정이름 찾아내기

In [26]:
txt = """
정씨 집안에는 정몽주, 정도전, 정약용, 정철이 있다.
이씨 집안에는 이준호, 이영호, 이진호가 있다.
최씨 집안에는 최인철, 최인영, 최인곤이 있다.
"""

In [29]:
re.compile("정\w\w")

re.compile(r'정\w\w', re.UNICODE)

In [31]:
re.compile("정\w\w").findall(txt)

['정몽주', '정도전', '정약용', '정철이']

In [32]:
ho = re.compile("이.호")
ho.findall(txt)

['이준호', '이영호', '이진호']

In [34]:
inn = re.compile("최인\w")
inn.findall(txt)

['최인철', '최인영', '최인곤']

In [38]:
jung =  re.compile("정..")
jeong = jung.findall(txt)
jeong = set(jeong)
jeong

{'정도전', '정몽주', '정씨 ', '정약용', '정철이'}

#### 휴대폰 번호

In [39]:
txt = "I like Strawberry,  Blueberry, Blackberry and Sloeberry"

In [40]:
berry = re.compile("\w+berry")
berry.findall(txt)

['Strawberry', 'Blueberry', 'Blackberry', 'Sloeberry']

In [41]:
phone = '''
    010-1234-5678
    010 9876 4321
    010.7532 1478
'''

In [45]:
pnum = re.compile("\d{3}[ -.]?\d{4}[ -.]?\d{4}")
pnum.findall(phone)

['010-1234-5678', '010 9876 4321', '010.7532 1478']

In [48]:
home = '''
내 휴대폰 번호는 010-1234-5678이고, 어머니 번호는 
010 9876 4321이다. 집 번호는 02-456-7890이다. 우편번호 231-424이며 
1123동 502호, 정파동 42번지. 동생은 대학교 4학년이고, 휴대폰이 없다.
아, 아버지 번호는 010.7532 1478이다.
'''

In [49]:
pnum = re.compile("\d{3}[ -\.]{1,2}\d{3,4}[ -\.]?\d{4}")
pnum.findall(home)

['010-1234-5678', '010 9876 4321', '010.7532 1478']

#### 주민번호

In [52]:
id_num = '''
   김갑을 180523-3450789
   박병정 870405-1040471
   성임미 931215-2800122 
'''

In [53]:
inum = re.compile("\d{6}-?\d{7}")
inum.findall(id_num)

['180523-3450789', '870405-1040471', '931215-2800122']

In [54]:
bnum = re.compile("(?P<birth>\d{6})-(?P<secret>\d{7})")
bnum.findall(id_num)

[('180523', '3450789'), ('870405', '1040471'), ('931215', '2800122')]

In [55]:
snum = bnum.sub("\g<birth>-*******", id_num)
print(snum)

   김갑을 180523-*******
   박병정 870405-*******
   성임미 931215-*******

In [57]:
b2num = re.compile("(?P<name>\w{3}) (?P<birth>\d{6})-(?P<secret>\d{7})")
b2num.findall(id_num)

[('김갑을', '180523', '3450789'),
 ('박병정', '870405', '1040471'),
 ('성임미', '931215', '2800122')]

In [58]:
print(id_num)

   김갑을 180523-3450789
   박병정 870405-1040471
   성임미 931215-2800122

In [60]:
ssnum = b2num.sub("\g<name>(\g<birth>-*******)", id_num)
print(ssnum)

   김갑을(180523-*******)
   박병정(870405-*******)
   성임미(931215-*******)

In [64]:
ss1num = ssnum.split('\n')
print(ss1num)

['', '   김갑을(180523-*******)', '   박병정(870405-*******)', '   성임미(931215-*******) ', '']

In [65]:
ss1num.pop(0)
ss1num

['   김갑을(180523-*******)',
 '   박병정(870405-*******)',
 '   성임미(931215-*******) ',
 '']

In [66]:
ss1num.pop(-1)
ss1num

['   김갑을(180523-*******)', '   박병정(870405-*******)', '   성임미(931215-*******) ']

In [67]:
for idx, val in enumerate(ss1num):
    val = val.replace(" ", "")
    # val[2] = "O"
    # val.pop(2)
    # val.insert(2, "O")
    print(idx, val)

0 김갑을(180523-*******)
1 박병정(870405-*******)
2 성임미(931215-*******)