## 소상공인시장진흥공단_상가업소정보
### 개요 : 소상공인 상권정보 상가업소 데이터

####   
####

In [8]:
import pandas as pd 

store_inf = pd.read_csv('소상공인시장진흥공단_상가업소정보_201806_01.csv', engine='python')
store_inf.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,28523551,엘가커피부산아시아드점,부산아시아드점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,2647010100111980000009422,부산아시아드주경기장노외주차장,부산광역시 연제구 종합운동장로 7,611070,47500.0,NaN,1,NaN,129.062034,35.191284
1,28498271,비비안아울렛중계점,아울렛중계점,D,소매,D05,의복의류,D05A07,셔츠/내의/속옷,NaN,...,1135010600105090000010511,2001아울렛,서울특별시 노원구 동일로204가길 46,139726,1783.0,NaN,3,NaN,127.067888,37.641280
2,28512174,연세정신건강의학과의원,NaN,S,의료,S01,병원,S01B99,기타병원,NaN,...,1111017400102990000005842,유림문화사,서울특별시 종로구 종로 335-3,110540,3104.0,NaN,2,NaN,127.014500,37.573196
3,28499926,독일지멘스보청기은평점,은평점,D,소매,D20,의약/의료품소매,D20A02,보청기판매,G47812,...,1138010300102810108040063,NaN,서울특별시 은평구 통일로 732,122040,3368.0,NaN,2,NaN,126.929871,37.610888
4,28490321,서울모드,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010700105170027011767,SM빌딩,서울특별시 강남구 도산대로11길 29,135888,6034.0,NaN,1,NaN,127.022212,37.519315

In [10]:
print(store_inf.shape)

(476183, 39)

In [12]:
sic = store_inf.columns
for i in sic:
    print(i)

상가업소번호
상호명
지점명
상권업종대분류코드
상권업종대분류명
상권업종중분류코드
상권업종중분류명
상권업종소분류코드
상권업종소분류명
표준산업분류코드
표준산업분류명
시도코드
시도명
시군구코드
시군구명
행정동코드
행정동명
법정동코드
법정동명
지번코드
대지구분코드
대지구분명
지번본번지
지번부번지
지번주소
도로명코드
도로명
건물본번지
건물부번지
건물관리번호
건물명
도로명주소
구우편번호
신우편번호
동정보
층정보
호정보
경도
위도

In [15]:
store_inf['상권업종대분류코드'].value_counts()

Q    157467
D    150740
F     76022
R     36113
S     20646
L     17199
N     13164
O      4756
P        76
Name: 상권업종대분류코드, dtype: int64

In [18]:
store_inf['상권업종대분류명'].value_counts()

음식          157467
소매          150740
생활서비스        76022
학문/교육        36113
의료           20646
부동산          17199
관광/여가/오락     13164
숙박            4756
스포츠             76
Name: 상권업종대분류명, dtype: int64

In [19]:
store_inf['상권업종중분류코드'].value_counts()

Q01    52719
F01    36211
D03    30172
D05    27077
Q09    19610
Q12    19096
L01    16298
D01    15236
Q04    15101
S01    14377
Q03    13094
D07    12775
F02    10587
Q05     9052
R01     8445
F14     8123
D18     8008
D06     7928
Q06     7697
D16     7567
Q07     6278
R09     6246
R08     6243
Q08     6190
N02     5892
D08     5640
R05     5041
N01     4920
D10     4807
R04     4491
       ...
S03      788
L03      712
F08      626
D17      575
R13      562
Q15      519
Q14      436
N08      410
D09      386
F20      370
R03      363
D11      340
F18      327
N03      323
R06      292
R02      213
O05      185
L04      185
F19      146
Q13      123
O03      106
S07       88
D19       77
P02       63
N07       55
N04       42
O04       16
P01       11
L05        4
P03        2
Name: 상권업종중분류코드, Length: 94, dtype: int64

In [20]:
store_inf['상권업종중분류명'].value_counts()

한식               52719
이/미용/건강          36211
종합소매점            30172
의복의류             27077
유흥주점             19610
커피점/카페           19096
부동산중개            16298
음/식료품소매          15236
분식               15101
병원               14377
일식/수산물           13094
가정/주방/인테리어       12775
세탁/가사서비스         10587
닭/오리요리            9052
학원-보습교습입시         8445
자동차/이륜차           8123
사진/광학/정밀기기소매      8008
가방/신발/액세서리        7928
양식                7697
화장품소매             7567
패스트푸드             6278
학원기타              6246
유아교육              6243
제과제빵떡케익           6190
무도/유흥/가무          5892
사무/문구/컴퓨터         5640
학원-음악미술무용         5041
PC/오락/당구/볼링등      4920
건강/미용식품           4807
학원-어학             4491
                 ...
유사의료업              788
분양                 712
대행업                626
예술품/골동품/수석/분재      575
학문교육기타             562
부페                 519
기타음식업              436
경마/경륜/성인오락         410
애견/애완/동물           386
행사/이벤트             370
학원-자격/국가고시         363
유아용품               340
장례/묘지              327
연극/영화/극장           323
학원-컴퓨터             292
학원-창업취업취미          213
민박/하숙              185
평가/개발/관리           185
법무세무회계             146
음식배달서비스            123
캠프/별장/펜션           106
의료관련서비스업            88
종교용품판매              77
실내운동시설              63
놀이/여가/취미            55
스포츠/운동              42
유스호스텔               16
운영관리시설              11
부동산관련서비스             4
실외운동시설               2
Name: 상권업종중분류명, Length: 94, dtype: int64