In [1]:
3 ** 2

9

In [2]:
pow(3, 2)

9

In [3]:
3 > 2

True

In [4]:
3 < 2

False

In [5]:
3 != 2

True

In [6]:
3 == 2

False

In [7]:
3 == 3

True

In [8]:
3 is not 2

True

In [9]:
3 is 2

False

In [11]:
sen = '재미있는 파이썬 공부!'

In [12]:
sen.startswith('재미있는')   # 문자가 '재미있는'으로 시작하는 지 확인

True

In [13]:
re = sen.startswith('재미있는')
print(re)

True

In [14]:
sen.endswith('!')   # 문자의 끝이 '!'로 끝나는 지 확인

True

In [16]:
re = sen.endswith('!')
print(re)

True

In [17]:
sen.endswith('공부')

False

In [18]:
sen.endswith('공부!')

True

In [19]:
re = sen.replace('파이썬', 'python')    # '파이썬'을 'python'으로 변경
print(re)

재미있는 python 공부!

In [22]:
sen = 'Bigdata is very important'
sen

'Bigdata is very important'

In [23]:
re = sen.upper()   # 모두 대문자로
print(re)

BIGDATA IS VERY IMPORTANT

In [24]:
re = sen.lower()  # 모두 소문자로
print(re)

bigdata is very important

In [25]:
re = '!'.join(sen)  # 공백에 '!' 채우기
print(re)

B!i!g!d!a!t!a! !i!s! !v!e!r!y! !i!m!p!o!r!t!a!n!t

In [26]:
numeric = 100
string = '100'

numeric + string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
numeric1 = 100
numeric2 = 100

numeric1 + numeric2

200

In [44]:
alphabet = ['A', 'B', 'C', 'E', 'G', 'F']

In [45]:
print(alphabet[0])
print(alphabet[1])
print(alphabet[5])
print(alphabet[-1])
print(alphabet[-6])

A
B
F
F
A

In [46]:
alphabet.append('H')
alphabet

['A', 'B', 'C', 'E', 'G', 'F', 'H']

In [47]:
alphabet.insert(3, 'D')
alphabet

['A', 'B', 'C', 'D', 'E', 'G', 'F', 'H']

In [48]:
alphabet.remove('G')
alphabet

['A', 'B', 'C', 'D', 'E', 'F', 'H']

In [49]:
alphabet.insert(-1, 'G')
alphabet

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [51]:
alphabet.pop(7)

'H'

In [52]:
alphabet

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [53]:
alphabet[2:6]

['C', 'D', 'E', 'F']

In [54]:
alphabet[4:]

['E', 'F', 'G']

In [56]:
alphabet[:3]

['A', 'B', 'C']

In [57]:
alphabet[:4]

['A', 'B', 'C', 'D']

In [58]:
alphabet[:]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [59]:
alphabet[::2]

['A', 'C', 'E', 'G']

In [60]:
alphabet[::3]

['A', 'D', 'G']

In [61]:
alphabet[-3:]

['E', 'F', 'G']

In [62]:
alphabet[::-2]

['G', 'E', 'C', 'A']

In [63]:
alphabet.index('B')

1

In [66]:
alphabet.index('C', 3)

ValueError: 'C' is not in list

In [68]:
alphabet.index('C', 1)

2

In [67]:
alphabet.index('C', 2)

2

In [65]:
alphabet

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [69]:
string = [
            ['A', 'B', 'C'], 
            ['ㄱ', 'ㄴ', 'ㄷ'],
            ['あ', 'い', 'う']
          ]

In [70]:
string

[['A', 'B', 'C'], ['ㄱ', 'ㄴ', 'ㄷ'], ['あ', 'い', 'う']]

In [71]:
string [1][2]

'ㄷ'

In [72]:
string[0][0]

'A'

In [73]:
string[2][1]

'い'

In [75]:
number = (1, 2, 3, 4, 5)
print(type(number))
number

<class 'tuple'>

(1, 2, 3, 4, 5)

In [76]:
number[:3]

(1, 2, 3)

In [77]:
number[3:]

(4, 5)

In [78]:
number[-2:]

(4, 5)

In [80]:
number[1]

2

In [81]:
number2 = (1, 2, 2, 3, 4, 5)
number2

(1, 2, 2, 3, 4, 5)

In [82]:
set_1 = {'Jane', 'Kane', 'Vane'}
print(type(set_1))
set_1

<class 'set'>

{'Jane', 'Kane', 'Vane'}

In [84]:
'Jane' in set_1

True

In [85]:
'Gane' in set_1

False

In [88]:
s_1 = set([11, 22, 33, 44, 55])
s_2 = set([22, 44, 66, 88, 99])

In [92]:
print(type(s_1))
s_1

<class 'set'>

{11, 22, 33, 44, 55}

In [94]:
s_1 & s_2

{22, 44}

In [95]:
s_1.intersection(s_2)

{22, 44}

In [96]:
s_1 | s_2

{11, 22, 33, 44, 55, 66, 88, 99}

In [97]:
s_1.union(s_2)

{11, 22, 33, 44, 55, 66, 88, 99}

In [98]:
s_1 - s_2

{11, 33, 55}

In [99]:
s_1.difference(s_2)

{11, 33, 55}

In [100]:
s_3 = set('hello')
s_3

{'e', 'h', 'l', 'o'}

In [101]:
num = [1,1,2,3,4,4,5,7,5,8,9,10,11,12,13,14,15,1,8,9]
num

[1, 1, 2, 3, 4, 4, 5, 7, 5, 8, 9, 10, 11, 12, 13, 14, 15, 1, 8, 9]

In [102]:
list(set(num))

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [103]:
sorted(num)

[1, 1, 1, 2, 3, 4, 4, 5, 5, 7, 8, 8, 9, 9, 10, 11, 12, 13, 14, 15]

In [104]:
sorted(list(set(num)))

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [115]:
dic_1 = {'A' : 1, 'B' : 2, 'C' : 3}
print(type(dic_1))
dic_1

<class 'dict'>

{'A': 1, 'B': 2, 'C': 3}

In [116]:
dic_1.keys()

dict_keys(['A', 'B', 'C'])

In [117]:
dic_1.values()

dict_values([1, 2, 3])

In [118]:
dic_1.items()

dict_items([('A', 1), ('B', 2), ('C', 3)])

In [119]:
dic_1['D'] = 4
dic_1

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [120]:
dic_1['D'] = 5
dic_1

{'A': 1, 'B': 2, 'C': 3, 'D': 5}

In [121]:
del dic_1['D']
dic_1

{'A': 1, 'B': 2, 'C': 3}