## Basic_R

### variable

In [1]:
a = 1

In [2]:
a

[1] 1

In [3]:
b = - 20

In [4]:
b

[1] -20

In [5]:
a + b

[1] -19

In [6]:
a * b

[1] -20

In [7]:
variable_1 <- 20
variable_1

[1] 20

In [8]:
variable_2 <- 3
variable_2

[1] 3

In [9]:
variable_1 + variable_2

[1] 23

In [10]:
variable_1 / variable_2

[1] 6.666667

In [12]:
variable_3 <- variable_1 * variable_2
variable_3

[1] 60

### vector

In [13]:
vc_1 <- c(1,2,3,4,5)
vc_1

[1] 1 2 3 4 5

In [14]:
class(vc_1)

[1] "numeric"

In [15]:
vc_2 <- c('A', 'B', 'C')
vc_2

[1] "A" "B" "C"

In [16]:
class(vc_2)

[1] "character"

In [17]:
vc_3 <- c(TRUE, FALSE)
vc_3

[1]  TRUE FALSE

In [18]:
class(vc_3)

[1] "logical"

In [19]:
vc_4 <- c(TRUE, 3)
vc_4

[1] 1 3

In [20]:
class(vc_4)

[1] "numeric"

In [21]:
vc_5 <- c(3, FALSE)
vc_5

[1] 3 0

In [22]:
class(vc_5)

[1] "numeric"

In [24]:
vc_6 <- c('A', 1)
vc_6

[1] "A" "1"

In [25]:
class(vc_6)

[1] "character"

In [29]:
v <- 30
vc_7 <- c(10, 20, 30, 40, 50)

v < vc_7

[1] FALSE FALSE FALSE  TRUE  TRUE

In [30]:
score <- c(95, 100, 88, 93, 98)
score

[1]  95 100  88  93  98

In [32]:
names(score) <- c('Math', 'Korean', 'Science', 'Society', 'History')
score

   Math  Korean Science Society History
     95     100      88      93      98

In [34]:
subjects <- c('Math', 'Korean', 'Science', 'Society', 'History')
score_2 <- c(70, 75, 74, 80, 84)

In [36]:
names(score_2) <- subjects
score_2

   Math  Korean Science Society History
     70      75      74      80      84